{% extends 'tienda/base.html' %}

{% block titulo %}
- Tienda
{% endblock %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'tienda/css/tienda.css' %}">
{% endblock %}

{% block breadcumbs %}
<!-- Breadcumbs del Sitio-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li> 
    <li class="breadcrumb-item active">Tienda</li>
</ol>
{% endblock %}


{% block contenido %}
<!-- Productos -->
 {% load humanize %}
<div class="row p-5 productos">
    <h2>Todos los Productos</h2>
{% for producto in productos %}
    <div class="card producto">
        <div class="d-flex flex-column h-100">
            {% if producto.imagen %}
            <div class="d-flex justify-content-center align-items-center">
                <img src="{{ producto.imagen.url }}" class="card-img-top producto-imagen" alt="...">
            </div>
            {% endif %}
            <div class="card-body detalles flex-grow-1">
                <h6>{{ producto.marca | capfirst }}</h6>
                <h5 class="card-title producto-titulo">{{ producto.nombre | title }}</h5>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div class="p-1 precio producto-precio">
                    $ {{ producto.precio | intcomma }}
                </div>
                <div class="p-2">
                    <button class="btn btn-primary btn-sm btnAgregarProducto" id="btnAgregarProducto">Agregar <i class="bi bi-cart-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}

{% block js %}
<script src="{% static 'tienda/js/tienda.js' %}"></script>
<script src="{% static 'tienda/js/jqueryFerremas.js' %}"></script>
{% endblock %}