{% extends 'tienda/base.html' %}

{% block titulo %}
- Listado de Marcas
{% endblock %}

{% load static %}

{% block css %}
{% endblock %}

{% block subheader %}
style="display:none;"  
{% endblock %}

{% block breadcumbs %}
<!-- Breadcumbs del Sitio-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li> 
    <li class="breadcrumb-item active">Listado de Marcas</li>
</ol>
{% endblock %}

{% block contenido %}   
<div class="container">
    <h1 style="text-align: center;">Listado de Marcas Asociadas</h1>
    <hr>
    <div class="row m-5">
        <a class="btn btn-primary" href="{% url 'agregar_marca' %}">Agregar Marca</a>
    </div>

    <table class="table mt-5">
        {% if marcas %}
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for marca in marcas %} 
                <tr>
                    <th scope="row"> {{ marca.id }} </th>
                    <td>{{ marca.nombre | capfirst }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'modificar_marca' marca.id %}" class="btn btn-success" 
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-custom-class="tooltip-crud-editar"
                                data-bs-title="Editar Marca">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="#" onclick="eliminarMarca({{ marca.id }})" class="btn btn-danger" 
                                data-bs-toggle="tooltip" 
                                data-bs-placement="top" 
                                data-bs-custom-class="tooltip-crud-eliminar" 
                                data-bs-title="Eliminar Marca">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% endif %}
      </table>


</div>
{% endblock %}

{% block js %}
<script src="{% static 'tienda/js/listadoProductos.js' %}"></script>

<script>
    function eliminarMarca(id){
        Swal.fire({
            "title": "¿Estas seguro?",
            "text": "Esta acción no puede deshacerse",
            "icon": "warning",
            "showCancelButton": true,
            "confirmButtonText": "Si, Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545"
        })
        .then(function(result){
            if (result.isConfirmed){
                window.location.href = "/eliminar-marca/"+id+"/"
            }
        })
    }
</script>
{% endblock %}