<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tienda/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'tienda/css/login.css' %}">
</head>
<body>
    {% load crispy_forms_tags %}
    <div class="container"> 
        <div class="row">
            <div class="col-12 col-md-6 offset-3">
                <div class="card position-absolute top-50 start-50 translate-middle">
                    <div class="card-header">
                        <img src="{% static 'tienda/img/ferremas_logo.svg' %}" alt="logo" width="100%" height="150">
                    </div>
                    <div class="card-body">
                        <h2>Ingresa tus credenciales</h2>
                        <form action="" method ="post">

                            {% csrf_token %}
                            {{ form | crispy }}

                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{% url 'index' %}" class="btn btn-link"><i class="bi bi-house-heart-fill"></i> Ir al Sitio</a>
                                <a href="{% url 'registro' %}" class="btn btn-link">Registrate </a>
                                <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
                            </div> 

                        </form>

                    </div>
                </div>
            </div>
        </div>    
    </div>

    <script src="{% static 'tienda/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>